# ------------------------------------------------------------------
## GLOBAL
# ==================================================================
GITHUB_TOKEN=${GITHUB_TOKEN}

HTPASSWD_USER=ckan
HTPASSWD_PASSWORD=ckan
PASSWORD_PROTECT=false
MAINTENANCE_MODE=False

CKAN___DEBUG=True
CKAN___HDX_PORTAL=False

# ------------------------------------------------------------------
## DATABASES
# ==================================================================
CKAN_DB_USER=${DBUSER}
CKAN_DB_NAME=${DBNAME}
CKAN_DB_PASSWORD=${DBPASS}

CKAN_DATASTORE_DB_NAME=${DATASTORE_DBNAME}
CKAN_DATASTORE_RO_DB_USER=${DATASTORE_RO_USER}
CKAN_DATASTORE_RW_DB_USER=${DATASTORE_RW_USER}

CKAN_SQLALCHEMY_URL=postgresql://${DBUSER}:${DBPASS}@postgres:5432/${DBNAME}
CKAN_DATASTORE_WRITE_URL=postgresql://${DATASTORE_RW_USER}:${DBPASS}@postgres:5432/${DATASTORE_DBNAME}
CKAN_DATASTORE_READ_URL=postgresql://${DATASTORE_RO_USER}:${DBPASS}@postgres:5432/${DATASTORE_DBNAME}

# ------------------------------------------------------------------
## SERVICE URLS
# ==================================================================
CKAN_REDIS_URL=redis://redis:6379
CKAN_DATAPUSHER_URL=http://datapusher:8000/
CKAN_SOLR_URL=http://solr:8983/solr/ckan

# ------------------------------------------------------------------
## SYSTEM SETTINGS
# ==================================================================
CKAN_SITE_ID=biksit
CKAN_SITE_URL=http://biskit:5000
CKAN_MAIN_CSS=/base/css/green.css
CKAN_STORAGE_PATH=/var/lib/ckan

CKAN_SYSADMIN_NAME=admin
CKAN_SYSADMIN_PASSWORD=${SYSADMIN_PASS}
CKAN_SYSADMIN_EMAIL=support@biskit.org

CKAN__CACHE_EXPIRES=2592000
CKAN__SITE_TITLE="BISKIT Data Portal"

## MAIL SETUP
CKAN_SMTP_SERVER=
CKAN_SMTP_USER=
CKAN_SMTP_PASSWORD=
CKAN_SMTP_MAIL_FROM=
OFS_IMPL=pairtree

## OTHERS
CKAN___BEAKER__SESSION__KEY=ckan
CKAN___BEAKER__SESSION__TYPE=database
CKAN___BEAKER__SESSION__TABLE_NAME=beaker_sessions
CKAN___BEAKER__SESSION__SECRET=${BEAKER_SESSION_SECRET}
CKAN___BEAKER__SESSION__URL=postgresql://${DBUSER}:${DBPASS}@postgres:5432/${DBNAME}

#CKAN__VIEWS__DEFAULT_VIEWS=image_view text_view recline_view geo_view pdf_view geojson_view
#CKANEXT__GEOVIEW__OL_VIEWER__FORMATS=wms kml wfs gml

# ------------------------------------------------------------------
## CKAN EXTENSIONS - 3RD PARTY
# ==================================================================
## S3 FILESTORE
CKANEXT__S3FILESTORE__HOST_NAME=http://s3-eu-west-1.amazonaws.com
CKANEXT__S3FILESTORE__AWS_ACCESS_KEY_ID=
CKANEXT__S3FILESTORE__AWS_SECRET_ACCESS_KEY=
CKANEXT__S3FILESTORE__AWS_BUCKET_NAME=eha-biskit-dev
CKANEXT__S3FILESTORE__REGION_NAME=eu-west-1
CKANEXT__S3FILESTORE__SIGNATURE_VERSION=s3v4

CKANEXT__RQ__TIMEOUT=14400

CKAN___GOOGLEANALYTICS__ID=
CKAN___GOOGLEANALYTICS__ACCOUNT=

#CKAN__RECAPTCHA__VERSION=2
#CKAN__RECAPTCHA__PUBLICKEY=6LeeS_kSAAAAAINWTshI7fEO9zjDd6x4ng0sPWfJ
#CKAN__RECAPTCHA__PRIVATEKEY=6LeeS_kSAAAAAAXeDj6n6UwQfTBbwdHKB4xUe6zt

#CKAN__AUTH__ANON_CREATE_DATASET=False
#CKAN__AUTH__CREATE_UNOWNED_DATASET=False
#CKAN__AUTH__CREATE_DATASET_IF_NOT_IN_ORGANIZATION=False
#CKAN__AUTH__USER_CREATE_GROUPS=False
#CKAN__AUTH__USER_CREATE_ORGANIZATIONS=False
#CKAN__AUTH__USER_DELETE_GROUPS=False
#CKAN__AUTH__USER_DELETE_ORGANIZATIONS=False
#CKAN__AUTH__CREATE_USER_VIA_API=False
#CKAN__AUTH__CREATE_USER_VIA_WEB=True
#CKAN__AUTH__ROLES_THAT_CASCADE_TO_SUB_GROUPS=admin
